 body {
 	width: 75%;
	margin: 0px auto; 

	display: flex;
	min-height: 100vh;
	flex-direction: column;
 }

 header {
 	height: 100px;
 }

 header > nav {
 	height: 100%;
 }

 main {
 	flex: 1 0 auto;
 }

 main h1 {
 	font-weight: bold;
 }

  main h2 {
 	font-weight: 300;
 }

#logo-icon {
	margin-left: 50px;
	margin-top: 20px;
}

#logo {
 	margin-left: 50px;
 	margin-top: 20px;
 }

 #head-nav-links {
 	margin-right: 50px;
 	margin-top: 20px;
 }

.mainpanel{
	margin: 50px;
}

 #mainpanel-content {
 	margin: 50px;
 }
